@model IEnumerable<NovaScotia.Models.ScotiaTransaction>

@{
    ViewData["Title"] = "CusTransactions";
    Layout = "~/Views/Shared/ScotiaLayout.cshtml";
}

<h1>CusTransactions</h1>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AccountNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Amount)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AccountNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Transactions Made as Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">
                Use the button below to go to home page
            </h5>
            <a class="btn btn-primary" style="width:auto" asp-controller="ScotiaHome" asp-action="Index">
                Home
            </a>
        </div>
    </div>
}
