@model NovaScotia.Models.ScotiaTransaction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/ScotiaLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>ScotiaTransaction</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
